body,
h1,
h2,
h3,
p,
a {
  font-family: 'Roboto', sans-serif !important;
  line-height: 2em;
}
body {
  height: 100%;
}
.body {
  background: url('http://i.stack.imgur.com/jGlzr.png');
  background-repeat: repeat;
  min-height: 100%;
  padding-bottom: 0px;
}
code {
  font-family: monospace !important;
}
.flex-container {
  display: flex;
}
@media screen and (max-width: 780px) {
  .flex-container {
    flex-grow: 1;
  }
}
.page-flex-container {
  padding: 50px 50px 0px 50px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  max-width: 60em;
  word-break: normal !important;
  word-wrap: break-word;
}
.centerContent {
  margin: 0 auto;
  max-width: 50em;
}
.construction {
  width: 20%;
}
.dim {
  width: 100%;
  min-height: 100%;
  z-index: -6;
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.picture {
  max-width: 100%;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.picture-center {
  display: block;
  margin: 0 auto;
}
