body,
h1,
h2,
h3,
p,
a {
  font-family: 'Roboto', sans-serif !important;
  line-height: 2em;
}
body {
  background-color: #f8f8f8;
}
.flex-container {
  display: flex;
}
.page-flex-container {
  padding: 50px 15px 15px 15px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  max-width: 70em;
}
.centerContent {
  margin: 0 auto;
  max-width: 50em;
}
.construction {
  width: 20%;
}
.dim {
  width: 100%;
  min-height: 100%;
  z-index: -6;
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
