{{ partial "header.html" . }}
<div id="content" class="container-fluid"> <!-- Body -->
    <h1 class="text-center">Currently In Development !</h2>
    <ul class="card-container">
        <!-- gets all pages -->
        {{ range .Pages }}
            {{ if eq .Params.main "1" }} 
                <div class="card">
                    <a class="card-link" href="{{ .RelPermalink }}">
                        <div class="card-header">
                            <h1>{{ .Title }}</h1>
                        </div>
                        <img class="card-picture" src="{{ .Params.image }}" alt="gochi">
                    </a>
                </div>
            {{ end }}
        {{ end }}
        </ul>
    </div>
{{ partial "footer.html" }}	
