<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="utf-8">
        <title>{{ .Title }}</title>
        <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
        <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
        <!--<link href="{{ .Site.BaseURL }}/css/bootstrap.css" rel="stylesheet">-->
        <!--<link href="{{ .Site.BaseURL }}/css/w3.css" rel="stylesheet">-->
        <link href="{{ .Site.BaseURL }}/css/normalize.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}/less/styles.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}/less/navbar.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}/less/card.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}/less/footer.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="dim"></div>
    <div class="body"> <!-- Page -->
    
        {{ template "theme/partials/nav.html" }}