<nav class="navbar-flex-group">

    <div class="flex-container">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <!--<li class="icon">-->
    <a href="javascript:void(0);" onclick="openNav()">&#9776;</a>
  <!--</li>-->
      <a class="flex-item" href="{{ .Site.BaseURL }}/"><img src="http://i.imgur.com/SCxqq90.png" class="profilepic" alt="Profile Picture"></a>
    </div>


    <!--<div class="flex-container" id="myNavbar">-->
      <ul class="flex-container nav-list">
        <li class="flex-item"><a class="nav-underline" href="{{ .Site.BaseURL }}/blog">Blog</a></li>
        <li class="flex-item"><a class="nav-underline" href="{{ .Site.BaseURL }}/experiment">Experiments</a></li>
        <li class="flex-item"><a class="nav-underline" href="{{ .Site.BaseURL }}/project">Projects</a></li>
        <li class="flex-item"><a class="nav-underline" href="{{ .Site.BaseURL }}/about">About Me</a></li>
      </ul>

    <!--</div>-->

</nav>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">open</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  ...
</div>