<nav class="navbar navbar-default orange-header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ .Site.BaseURL }}/"><img src="http://i.imgur.com/SCxqq90.png" class="profilepic" alt="Profile Picture"></a>
      <a class="navbar-brand" href="{{ .Site.BaseURL }}/">Spirit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ .Site.BaseURL }}/blog">Blog</a></li>
        <li><a href="{{ .Site.BaseURL }}/experiment">Experiments</a></li>
        <li><a href="{{ .Site.BaseURL }}/project">Projects</a></li>
        <li><a href="{{ .Site.BaseURL }}/about">About Me</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>