{{ partial "header.html" . }}

<h1 class="text-center">Blog Posts</h1>
    <div class="">
    <ul class="">
        {{ range .Data.Pages }}
        <div class="card">
            <header class="">
                <h1 class=""><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            </header>
            <img class="card-picture" src="http://i.imgur.com/RgTYBgg.png" alt="gochi">
            
            <!--<div class="w3-container">
            <p>{{.Summary}}</p>-->
                <!--{{ if .Truncated }}
                <div class="read-more-link">
                    <a href="{{ .RelPermalink }}">Read More…</a>
                </div>
                {{end}}-->
            <!--</div>-->
            <!--<footer class="w3-container">
                {{ .Date.Format "Mon, Jan 2, 2006" }}
            </footer>-->

        </div>
        {{ end }}
    </ul>
    </div>

{{partial "footer.html" .}}
