@import "variables.less";

.navbar-flex-group{
    display:flex;
    background-color:@orange;
    border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
    line-height:normal !important;
}


.nav-list{
    list-style-type: none;
    display:inline-flex;
    align-self: flex-end;
    margin-left:auto;
}

 .nav-list > li > a{
    line-height:normal !important;
    color: @lightgrey !important;
    padding: 10px 15px;
    font-size: 17px;
    // position:relative;
    border-bottom: 3px solid transparent;
    width: 0%;
    text-decoration: none;
    transition: color .25s;
    transition: 0.5s ease;
    

}
.nav-list  > li > a:hover{
    color:#23527c !important;
    border-bottom:3px solid #23527c;
    width: 100%;
}
.orange-header {
    color:@orange;
    background-color: @orange;
}

.profilepic{
    border-radius:50%;
    height:50px;
    width:50px;
}