.navbar-title {
  color: #FFFFFF;
  font-size: 120%;
}
.navbar-flex-group {
  display: flex;
  background-color: #f96e5b;
  border-bottom-right-radius: 5px;
  line-height: normal !important;
  flex-grow: 1;
}
.nav-list {
  list-style-type: none;
  display: inline-flex;
  align-self: flex-end;
  margin-left: auto;
}
.nav-list > li {
  padding: 0px 25px;
}
.nav-list > li > a {
  line-height: normal !important;
  color: #FFFFFF !important;
  font-size: 120%;
  border-spacing: 10px;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.25 ease-in-out;
  white-space: nowrap;
}
.nav-list > li > a:hover {
  color: #23527c !important;
}
.orange-header {
  color: #f96e5b;
  background-color: #f96e5b;
}
.profilepic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.menu {
  display: none;
}
@media screen and (max-width: 780px) {
  .profile-pic {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .nav-list {
    display: none;
  }
  .menu {
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #f8f8f8;
  }
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  border-radius: 2px;
  left: 0;
  background-color: #EB5A4B;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}
.mobile-item {
  border-bottom: 1px solid #f8f8f8;
}
.mobile-item-top {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}
.mobile-item:hover {
  color: #23527c !important;
  padding-left: 16px;
}
.mobile-item-top:hover {
  color: #23527c !important;
  padding-left: 16px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
.barsmenu:hover {
  color: #23527c;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
