

.navbar-flex-group{
    display:flex;
    background-color:@orange;
    border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
    line-height:normal !important;
    flex-grow:1;
    
}
.nav-list{
    list-style-type: none;
    display:inline-flex;
    align-self: flex-end;
    margin-left:auto;
    
}
.nav-list > li {
    padding: 0px 25px;
}
//  .nav-list > li > a{
//     line-height:normal !important;
//     color: @lightgrey !important;
//     font-size: 130%;
//     border-bottom: 2px transparent;
//     border-spacing: 10px;
//     text-decoration:none;
//     background-color:transparent;
//     transition: color .25 ease-in-out;
//     white-space: nowrap;
    
// }
.nav-list  > li > a:hover{
    // color:#23527c !important;
        color:#040303 !important;
    border-left: 2.5px solid;
    border-right: 2.5px solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.nav-list > li > a{
    position:relative;
    border-left: 2.5px solid @orange;
    border-right: 2.5px solid @orange;
    padding-right: 5px;
    padding-left:5px;
    display:inline-block;
    line-height:normal !important;
    color: @lightgrey !important;

    font-size: 130%;
    transition: all 0.3s ease-in-out;
    text-decoration:none;
    white-space: nowrap;

}
.nav-list > li > a::before{
  content:'';
  width:0;
  height:2.5px;
  background:#23527c;
  position:absolute;
  left:0;
  bottom:0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color:#23527c !important;
}
.nav-list > li > a::before{
  content:'';
  width:0;
  height:2.5px;
//   background:#23527c;
background:#040303;
  position:absolute;
  left:0;
  bottom:0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color:#23527c !important;
}
.nav-list > li > a::after{
  content:'';
  width:0;
  height:2px;
//   background:#23527c;
  background:#040303;
  position:absolute;
  top:0;
  right:0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color:#23527c !important;
}
.nav-list > li > a:hover::after {
    width: 100%;
}

.nav-list > li > a:hover::before {
    width: 100%;
}



.orange-header {
    color:@orange;
    background-color: @orange;
}

.profilepic{
    border-radius:50%;
    height:50px;
    width:50px;
}

.menu {
    display:none;
}
@media screen and (max-width:780px)
{
    .profile-pic{
        display:flex;
        width:50px;
        justify-content: flex-end;
    }
    .fill{
        display:flex !important;
        flex-grow:3;
        justify-content: center;
    }
    .nav-list{
        display:none;
    }
    .menu {
        padding-right: 15px;
        display:inline;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:10px;
        color: @grey;
    }

}
.fill{
    display:none;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    border-radius: 2px;
    left: 0;
    // background-color: @darkorange; /* Black*/
    background-color:@orange;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: @lightgrey;
    display: block;
    transition: 0.3s
}
.mobile-item {
    border-bottom: 1px solid @grey;
}
.mobile-item-top {
    border-top: 1px solid @grey;
    border-bottom: 1px solid @grey;
}
.mobile-item:hover{
    // color:#23527c !important;
    color:#040303 !important;
    padding-left:16px;
    // border-bottom: 1px solid #23527c;
}
.mobile-item-top:hover {
    color:#040303 !important;
    padding-left:16px;
    // border-top: 1px solid #23527c;
    // border-bottom: 1px solid #23527c;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.barsmenu:hover{
    // color:#23527c;
    color:#040303;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}