@import "variables.less";
body,h1,h2,h3,p,a  {
    font-family: 'Roboto', sans-serif !important;
    line-height: 2em;
}
// h1{
//     font-size: 3em;
// }
.body{
    background-color: @grey;
}
.flex-container{
    display:flex;
}
.flex-item{
    
}
.centerContent{
  margin: 0 auto;
  max-width: 50em;
//   height:100%;
}
.construction {
    width:20%;
}
