@import "variables.less";
body,h1,h2,h3,p,a  {
    font-family: 'Roboto', sans-serif !important;
    line-height: 2em;
}
// h1{
//     font-size: 3em;
// }

body{
    background-color: @grey;
}
.flex-container{
    display:flex;
//       margin: 0 auto;
//   max-width: 50em;
}
@media screen and (max-width:780px)
{
    .flex-container{
        flex-grow:1;
    }
    
}
.page-flex-container{
        // display:flex;'
        padding: 50px 15px 15px 15px;
    background-color: white;
    // font-size:1.5em;
    margin: 0 auto;
    // border:1px solid;
    // box-shadow: 3px 3px 3px #888888;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    max-width: 70em;
    word-break:break-all !important;
}
.flex-item{
    
}
.centerContent{
  margin: 0 auto;
  max-width: 50em;
//   height:100%;
}
.construction {
    width:20%;
}
.dim {
    width: 100%;
    min-height: 100%;
    z-index: -6;
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.picture{
  max-width:100%;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}